/* ---------------------------------------- */
/* Basic Setup */
/* ---------------------------------------- */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #A1AEB7;
  font-family: 'Ubuntu', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

/* ---------------------------------------- */
/* Reusable Component */
/* ---------------------------------------- */

.flex-container-1 {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.flex-container-2 {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.wrap-effect {
  flex-wrap: wrap-reverse;
}

.flex-item {
flex-shrink: 3;
}

hr {
  margin-top: 100px;
  margin-bottom: 100px;
  height: 93px;
  background-color: #C2D1D9;
  border: none;
}


/* ---------- Headings ---------- */
h1 {
  color: #505D68;
  font-size: 215%;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 100%;
}

h3 {
  color: #505D68;
  font-size: 105%;
  font-weight: 700;
}

p {
  margin-bottom: 20px;
  font-size: 85%;
  font-weight: 300;
  line-height: 24px;
}

/* ---------- Buttons ---------- */
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 80%;
  font-weight: 100;
  transition: background-color 0.2s, text-decoration 0.2s;
}

.btn-sign-up:link,
.btn-sign-up:visited {
  background-color: #F36F6E;
  color: #fff;
  border-radius: 5px
}

.btn-coach:link,
.btn-coach:visited {
  color: #000;
}


.btn-sign-up:hover,
.btn-sign-up:active {
  background-color: #f0504f;
}

.btn-coach:hover,
.btn-coach:active {
  color: #000;
  text-decoration: underline;
}

/* ---------------------------------------- */
/* Header */
/* ---------------------------------------- */

.navigation-bar {
  background: #E7E7E7;
  box-shadow: 0px 2px #F2F5F7;
  height: 79px;
  padding: auto auto;
  margin: auto auto;
}

.welcome-text-box {
  width: 557px;
  height: 338px;
}

.benefits-text-box-1 {
  width: 459px;
  height: 240.1px;
}

.benefits-text-box-2 {
  width: 459px;
  height: 258.1px;
}
/* ---------- Images ---------- */
.goal-image {
  width: 648px;
  height: 451px;
}

.todo-image {
  width: 548px;
  height: 449px;
}

.search-image {
  width: 671px;
  height: 509px;
}

.main-nav {
  float: right;
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a {
  color: #505D68;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
}
