/* ---------------------------------------- */
/* Basic Setup */
/* ---------------------------------------- */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #A1AEB7;
  font-family: 'Ubuntu', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

/* ---------------------------------------- */
/* Reusable Component */
/* ---------------------------------------- */

.container {
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.container-2 {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}


.flex-container-1 {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.flex-container-2 {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.flex-container-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.flex-container-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.flex-container-5 {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  flex-wrap: wrap;
  align-items: center;
}

.flex-container-6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.feature-flex {
  display: flex;
  flex-direction: column;

}

.feature-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
    margin-bottom: 8px;
}

.feature-pricing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px
}

.wrap-effect {
  flex-wrap: wrap-reverse;
}

.flex-item {
/* flex-shrink: 3; */
 /* this class should be removed from the project
 it is unused and unneccessary */
}

hr {
  margin-top: 100px;
  margin-bottom: 100px;
  height: 93px;
  background-color: #C2D1D9;
  border: none;
}

.large-hr {
  margin-top: 55px;
  margin-bottom: 100px;
  height: 212px;
}

.small-hr {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 44.5px;
  height: 1px;
  width: 220px;
  align: middle;
}

.reduced-margin-hr {
  margin-top: 4px;
  margin-bottom: 4px;
}


/* ---------- Headings ---------- */
h1 {
  color: #505D68;
  font-size: 215%;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 100%;
}

h2 {
  color: #505D68;
  font-size: 250%;
  font-weight: 700;
  line-height: 64px;
}

.h2-centered {
  text-align: center;
}

h3 {
  color: #505D68;
  font-size: 105%;
  font-weight: 700;
}

h4 {
  color: #505D68;
  font-size: 80%;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

h5 {
  color: #505D68;
  font-size: 190%;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-top: 45px;
}

.pricing-h5 {
  margin: 0
}


p {
  margin-bottom: 20px;
  font-size: 85%;
  font-weight: 300;
  line-height: 24px;
}

.small-paragraph {
  font-size: 65%;
  line-height: 21px;
  text-align: center;
}

.dark-paragraph {
  color: #505D68;
  font-size: 80%;
  text-align: center;
}

.feature-paragraph {
  line-height: 21px;
  font-size: 70%;
  text-align: left;
  margin-bottom: 0px;
  margin-left: 16px;
  margin-top: 2px;
  width: 197px;
}

.pricing-paragraph {
  margin: 10px 0px 0px 4px;
}


/* ---------- Buttons ---------- */
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 80%;
  font-weight: 100;
  transition: background-color 0.2s, text-decoration 0.2s;
}

.btn-sign-up:link,
.btn-sign-up:visited {
  background-color: #F36F6E;
  color: #fff;
  border-radius: 5px
}

.btn-coach:link,
.btn-coach:visited {
  color: #000;
}


.btn-sign-up:hover,
.btn-sign-up:active {
  background-color: #f0504f;
}

.btn-coach:hover,
.btn-coach:active {
  color: #000;
  text-decoration: underline;
}

.feature-btn:link,
.feature-btn:visited {
  color: #424B5A;
  background-color: #FFF;
  border: 2px solid #424B5A;
  border-radius: 5px;
  padding: 12px 87.5px;
  text-decoration: none;
  font-size: 80%;
  font-weight: 100;
  transition: background-color 0.2s, text-decoration 0.2s;
  margin-top: 40px;
  margin-left: 44.5px;

}

/* ---------------------------------------- */
/* Header */
/* ---------------------------------------- */

.navigation-bar {
  background: #E7E7E7;
  box-shadow: 0px 2px #F2F5F7;
  height: 79px;
  padding: auto auto;
  margin: auto auto;
}

.welcome-text-box {
  width: 557px;
  height: 338px;
}

.benefits-text-box-1 {
  width: 459px;
  height: 240.1px;
}

.benefits-text-box-2 {
  width: 459px;
  height: 258.1px;
}

.bullet-box{
  width: 160px;
  height: 210px;
  justify-content: flex-end;
}

.feature-box{
  width: 309px;
  height: 569px;
  border: 1px solid #979797;
  margin: 10px 10px;
}

/* ---------- Images ---------- */
.goal-image {
  width: 648px;
  height: 451px;
}

.todo-image {
  width: 548px;
  height: 449px;
}

.search-image {
  width: 671px;
  height: 509px;
}

.laptop-image {
  margin-right: 0;
  width: 837px;
  height: 650px;
}

.process-image img {
  vertical-align: middle;
  justify-content: center;
}

.get-recruited {
  margin-bottom: 30px;
}

.main-nav {
  float: right;
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a {
  color: #505D68;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
}
